
<ion-view view-title="Chat">
  <ion-pane>
    <ion-content>
      <div ng-repeat="message in messages">
        <div class="message">
           <div ng-switch on="message.from">
              <div ng-switch-when="admin">
                  <span>{{ message.text }}</span>
              </div>
              <div style="text-align: right;" ng-switch-default>
                  <span>{{ message.text }}</span>
              </div>
            </div>  
        </div>
      </div>

    </ion-content>

    <div class="bar bar-footer item-input-inset" style="bottom:49px; overflow:visible">
      <ul style="position:absolute; bottom:39px; width:40px; background-color:#fff; display:none;" class="sndBtnWrap">
        <li class="" ng-click="takePicture()"><img src="http://meirong-mifang.com/img/icon/camera.png" width="100%"/ style="margin-right:10px;" class="imgSndPic"></li>
        <li class="" ng-click="uploadPhoto()"><img src="http://meirong-mifang.com/img/icon/image.png" width="100%"/ style="margin-right:10px;" class="imgSndCam"></li>
      </ul>
      <img src="http://meirong-mifang.com/img/icon/plus-round.png" width="21px"/ style="margin-right:10px;" class="imgSndBtn">


      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage()" ng-model="data.message" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">Send</button>
    </div>
  </ion-pane>
</ion-view>