<ion-view view-title="Chat">
	<ion-pane>
    <ion-content>
      <div ng-repeat="message in messages">
        <div class="message">
          <span>{{ message }}</span>
        </div>
      </div>
    </ion-content>

    <ion-footer-bar class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage()" ng-model="data.message" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">Send</button>
    </ion-footer-bar>
  </ion-pane>
</ion-view>