<ion-view view-title="Chat">
	<ion-pane>
    <ion-content>
      <div ng-repeat="message in messages">
        <div class="message">
           <div ng-switch on="message.from">
              <div ng-switch-when="admin">
                  <span>{{ message.text }}</span>
              </div>
              <div style="text-align: right;" ng-switch-default>
                  <span>{{ message.text }}</span>
              </div>
            </div>  
        </div>
      </div>
          <div class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage()" ng-model="data.message" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">Send</button>
    </div>
    </ion-content>

<!--     <ion-footer-bar class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage()" ng-model="data.message" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">Send</button>
    </ion-footer-bar> -->
  </ion-pane>
</ion-view>