<ion-view view-title="前后">
	<ion-content ng-swipe-left="changePage()">
		<!-- 상단에 위치한 부위별 이미지 사진 text-align, padding-top 속성은 이미지가 삽입될 것이므로 추후에 삭제되어야 합니다.-->
		<div style="width=100%; height:80px; background-color:#efefff; text-align:center; padding-top:25px">
			<i class="icon ion-android-star-outline"
			   style="position:absolute; left:0; top:0; margin:5px 0 0 5px; font-size:2em" href="#"></i>
			{{shopName}}
		</div>
		<!-- 비포애프터 디자인 구현
			 개선해야할 사항: 1. 이미지 사이 공백 제거
							  2. productInfo와의 연결 기능 추가
		-->
		<div ng-repeat="data in datas" style="overflow:hidden; margin-top:15px">
			<div style="background-color:lightgray; width:100%">
				<span style="color:black; font-size:18px; margin-left:8px;">{{ data.method }}</span>

				<div style="display:inline-block; float:right; margin-right:8px;">
					<span style="color:black; font-size:18px;">{{ data.price }} 万韩币</span>
				</div>
			</div>
			<div>
				<div class="data-before">
					<img src="{{ data.before }}">
					<p class="text-before"><!-- BEFORE -->术前</p>
				</div>

				<div class="data-after">
					<img src="{{ data.after }}">
					<p class="text-after"><!-- AFTER -->术后</p>
				</div>
			</div>
			<!--/ion-item-->
		</div>

		<!-- 웹에서 작업할 때 스와이프 기능해주는 태그. 왠만하면 삭제하지말아줘 -->
		<!-- <a ng-click="changePage()">changePage</a> -->
	</ion-content>
</ion-view>
