<ion-view view-title="의료진">
	<ion-content style="padding:10px">
		<div id="docProfileTop">
			<div class="docProfileImg">
				<img src="{{imgSrc}}" width="100%">
			</div>

			<div class="docProfileInfo">
				<h1 class="docName">{{docName}}</h1>

				<p><span class="subTitle">소속</span> <span class="subCont"> &nbsp강남성형외과</span></p>

				<p><span class="subTitle">전공</span> <span class="subCont"> &nbsp코</span></p>
			</div>
		</div>

		<hr style="margin:0"/>

		<div id="docProfileBottom">
			<p class="career">약력</p>

			<div class="docProfileExp">
				<div class="row">
					<div class="col" style="">기간</div>
					<div class="col col-67" style="">내용</div>
				</div>
			</div>
		</div>


	</ion-content>
</ion-view>
