<ion-view title="注册">
	<ion-content>
		<div>
			<form>
				<div class="list list-inset">
					<div class="item item-input">
						<input type="text" placeholder="电子邮箱" ng-model="joinData.username"/>
						<button class="button button-light" ng-click="check()">检查<!-- check --></button>
					</div>

					<label class="item item-input">
						<input ng-model="joinData.password" type="password" placeholder="设置密码" class="pw1"/>
					</label>
					<label class="item item-input">
						<input ng-model="joinData.passwordChk" type="password" placeholder="确认密码"
						       class="pw2"/>
					</label>
				</div>
				<div class="padding-left padding-right">
					<div class="button-bar">
						<button class="button button-mifang" type="submit" ng-click="doJoin()">Join</button>
					</div>
				</div>
			</form>
		</div>
	</ion-content>
</ion-view>