<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Join</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeJoin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doJoin()">
      <div class="list">
        <div class="item item-input-inset item-button-right">
          <label class="item-input-wrapper-defined" style="padding-left:0">
            <input type="text" placeholder="Username" ng-model="joinData.username" >
          </label>
          <button class="button button-light" ng-click="check()">check</button>
        </div>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="joinData.password">
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Password Check" ng-model="joinData.passwordChk">
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Join</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>

