<ion-view title="Join">
    <ion-content>
        <div>
          <form ng-submit="doJoin()">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="email" placeholder="Username" ng-model="joinData.username"/>
                    <button class="button button-light" ng-click="check()">check</button>
                </label>
                <label class="item item-input">
                    <input ng-model="joinData.password" type="password" placeholder="Password" class="pw1"/>
                </label>
                <label class="item item-input">
                    <input ng-model="joinData.passwordChk" type="password" placeholder="Password Check" class="pw2"/>
                </label>
            </div>
            <div class="padding-left padding-right">
                <div class="button-bar">
                    <button class="button button-mifang" type="submit">Join</button>
                </div>
            </div>
          </form>
        </div>
    </ion-content>
</ion-view>