<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive" >
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-navicon" ui-sref="app.mypage" />
        <button class="button button-icon button-clear ion-search" />
      </button>
    </ion-nav-bar>
    <ion-nav-view name="content"></ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>
<ion-tabs class="tabs-icon-only tabs-dark">
  <ion-tab title="Home" icon="ion-home" ui-sref="app.main">
  </ion-tab>

  <ion-tab title="About" icon="ion-funnel" href="#/tab/about">
  </ion-tab>

  <ion-tab title="Contact" icon="ion-coffee" ui-sref="app.review">
  </ion-tab>

  <ion-tab title="Contact" icon="ion-chatbubble" ui-sref="app.chat">
  </ion-tab>
</ion-tabs>