<ion-view view-title="美容秘方">
  <ion-header>
    <meta info_name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scal=1.0, user-scalable=no, minimal-ui"/>
  </ion-header>
   <ion-nav-buttons side="left">
      <button class="button button-icon ion-log-in" ng-click="login()" ng-if="$root.isLogin==false"></button>
      <button class="button button-icon ion-log-out" ng-click="logout()" ng-if="$root.isLogin==true"></button>
  </ion-nav-buttons>
  <ion-content  style="background-color: #ffbfc9">
    <ion-list>
    <div class="row" style="width: 80%; padding:20% 10% 0% 10%">
      <div style="width: 70%; padding-right:5%">
        <button style="border: none; background-color : transparent;" ui-sref="app.products({category:'eye'})"><img src ="./img/main_eye.png" style="width: 100%"></button>
      </div>
      <div style="width: 70%; padding-left:5%">
        <button style="border: none; background-color : transparent;" ui-sref="app.products({category:'nose'})"><img src ="./img/main_nose.png" style="width: 100%"></button>
      </div>
    </div>
    <br />
    <div class="row" style="width: 80%; padding:0% 10% 0% 10%">
      <div style="width: 70%; padding-right:5%">
        <button style="border: none; background-color : transparent;" ui-sref="app.products({category:'face'})"><img src ="./img/main_face.png" style="width: 100%"></button>
      </div>
      <div style="width: 70%; padding-left:5%">
        <button style="border: none; background-color : transparent;" ui-sref="app.products({category:'body'})"><img src ="./img/main_body.png" style="width: 100%"></button>        
      </div>
    </div>
    <br />
    <div class="row" style="width: 80%; padding:0% 10% 0% 10%">
      <div style="width: 70%; padding-right:5%">
        <button style="border: none; background-color : transparent;" ui-sref="app.products({category:'bosom'})"><img src ="./img/main_bosom.png" style="width: 100%"></button>    
      </div>
      <div style="width: 70%; padding-left:5%">
        <button style="border: none; background-color : transparent;" ui-sref="app.products({category:'beauty'})"><img src ="./img/main_beauty.png" style="width: 100%"></button>    
      </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
