<ion-view view-title="Twinkle">
  <ion-content>
    <ion-list>

      <div style="width=100%; height:40px; background-color:red" class="shopCnt">
        <p style="margin:0; line-height:40px; padding-left:16px;">전체  {{noOfProduct}}</p>
      </div>


      <!-- <ion-item ng-repeat="product in products" href="#/app/product/{{product.id}}"> -->
      <ion-item ng-repeat="product in products" ui-sref="app.single({ productId: product.productId, shopId:product.shopId})">
        <div style="display:inline-block; margin-left:20px;">
            <!--{{product.content}} <br />-->
            <span style="background-color:red; color:white; font-weight:bold">{{product.region}}<br /></span>
            <p style=""><div style="display:inline-block; float: left; font-size:20px; margin-top:5px; font-weight:bold"> {{product.shopName}}</div></p>
            <p style="float:left; margin-top:5px;">{{product.minPrice}} won<br /></p>
            <p style="clear:both"></p>
            <p style="float:right">~ {{product.maxPrice}} won<br /></p>
         </div>
         
       <div style="display: inline-block; float: left;"><img src = "{{product.image}}" width="100px" height="100px"></div>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <div class="bar bar-footer">
    <button class="button button-assertive" ui-sref="app.review">후기</button>
    <button class="button button-assertive" ui-sref="app.chat">문의하기</button>
  </div>
</ion-view>