<ion-view view-title="Product">
	<ion-content  ng-swipe-right="changePage()">
	<div style="height: 200px; width: 100%; overflow: hidden">
		<div><img src = "{{logo}}"></div>
	</div>
		<a href="#/app/productDetail/{{shopId}}?surgeryId=all&logo={{logo}}" style="text-decoration: none">
			<span style=" font-size:24px;"> 전체보기 </span>
		</a>
		<div ng-repeat="data in datas">
			<a href="#/app/productDetail/{{shopId}}?surgeryId={{data.surgeryId}}&logo={{logo}}" style="text-decoration: none">
				<span style="color:black; font-size:20px;">{{ data.method }}</span>
			</a>
			<div id="price" style="display:inline-block; position:absolute; right:0; margin-right:8px;">
				<button class="button-clear">
					<span style="color:black; font-size:18px;" ng-click="showConvPrice()">{{ data.price }}</span>
				</button>
			</div>
		</div>
	</ion-content>
	
</ion-view>
