<ion-view view-title="Twinkle">
  <ion-content>
    <ion-list>
      <!-- <ion-item ng-repeat="product in products" href="#/app/product/{{product.id}}"> -->
      <ion-item ng-repeat="product in products" ui-sref="app.single({ productId: product.productId })">
        <div style="display:inline-block; margin-left:20px;">
            <!--{{product.content}} <br />-->
            <span style="background-color:red; color:white; font-weight:bold">{{product.address}}<br /></span>
            <p style=""><div style="display:inline-block; float: left; font-size:20px; margin-top:5px; font-weight:bold"> {{product.shopName}}</div></p>
            <p style="float:left; margin-top:5px;">{{product.minPrice}} won<br /></p>
            <p style="clear:both"></p>
            <p style="float:right">~ {{product.maxPrice}} won<br /></p>
         </div>
         
       <div style="display: inline-block; float: left;"><img src = "{{product.image}}" width="100px" height="100px"></div>
      </ion-item>
    </ion-list>
  </ion-content>
     <div class="bar bar-footer">
      <button class="button button-clear pull-right" ui-sref="app.mypage">문의하기</button>
    </div>
</ion-view>
