<ion-view view-title="병원정보">
	<ion-content ng-swipe-right="changePage()">
		<div>
			<div style="display: inline-block; float: left; margin:10px 10px">
				<img src="{{ logoImg }}" width="100px" height="100px">
			</div>
			<div>
				<span style="display: inline-block; font-size:20px; margin-top:30px;">{{shopName}}</span>
				<br/>
				<span>{{address}}</span>
			</div>
			<div style="clear:both; font-size:20px; margin-top:10px;">
				<span>오시는길 </span>
				<br/>
				<img src="{{ map }}" width="100%" height="200px">
			</div>
			<div style="clear:both; font-size:20px; margin-top:10px;">
				<span> 의료진</span>
				<br/>

				<div>
					<ion-scroll direction="x" class="wide-as-needed">
						<a ui-sref="app.docProfile({docId:'{{doctor.id}}'})" ng-repeat="doctor in doctors">
							<img style="margin:10px 10px 0px 10px" src="{{ doctor.imgsrc }}" width="100px"
							     height="150px">
						</a>
					</ion-scroll>
				</div>
			</div>
			<div style="clear:both; font-size:20px;">
				<span> 병원 내부 </span>
				<br/>
				<ion-scroll direction="x" class="wide-as-needed">
					<a ng-if="hasImg" ui-sref="app.shopImg({shopId:'{{shopId}}'})" ng-repeat="shopImg in shopimgs">
						<img style="margin:10px 10px 80px 10px; border:1px solid #eee;" src="{{ shopImg.imgsrc }}"
						     width="150px" height="100px">
					</a>

					<a ng-if="!hasImg" ng-repeat="shopImg in shopimgs">
						<img style="margin:10px 10px 80px 10px; border:1px solid #eee;" src="{{ shopImg.imgsrc }}"
						     width="150px" height="100px">
					</a>

				</ion-scroll>
			</div>
		</div>
	</ion-content>

	<div class="bar bar-footer">
		<button class="button button-assertive" ui-sref="app.review">후기</button>
		<button class="button button-assertive" ui-sref="app.chat">문의하기</button>
	</div>
</ion-view>