<ion-view view-title="Product">
	<ion-content ng-swipe-right="changePage()">
		<div style="height: 50%;">
	 		<ion-slide-box>
				<ion-slide ng-repeat="data in datas">
					<div><img style="width: 600px;" src = "{{data.img}}"></div>
				</ion-slide>
			</ion-slide-box>
		</div>
		<span style=" font-size:24px;"> 전체보기 </span>

		<div ng-repeat="data in datas">
			<a href="#/app/productDetail/{{data.productId}}/{{data.detail_id}}" style="text-decoration: none">
				<span style="color:black; font-size:20px;">{{ data.name }}</span>
			</a>
			<div style="display:inline-block; position:absolute; right:0; margin-right:8px;">
				<button class="button-clear">
					<span style="color:black; font-size:18px;">{{ data.price }}</span>
				</button>
				<!-- 환율은  http://www.webservicex.net/CurrencyConvertor.asmx/ConversionRate?FromCurrency=KRW&ToCurrency=CNY 이걸로 javascript로 해결  -->
			</div>
		</div>
	</ion-content>
	
	<div class="bar bar-footer">
	  <button class="button button-clear pull-right" ui-sref="app.chat">문의하기</button>
	</div>
</ion-view>
