<ion-view view-title="术后">
	<ion-content>
		<div class="list card">
			<label class="item item-input item-select" style="background-color:#f5f5f5">
				<div class="input-label"><!-- Category -->分类</div>
				<select style="background-color:#f5f5f5" ng-options="category for category in categorys"
				        ng-model="review.category" ng-change="update(review)"></select>
			</label>
			<label class="item item-input item-select" style="background-color:#f5f5f5">
				<div class="input-label"><!-- Hospital -->医院</div>
				<select style="background-color:#f5f5f5"
				        ng-options="product as product.shopName for product in products" ng-model="review.hospital"
				        ng-change="test(review)"></select>
			</label>

			<div style="margin:5px 0px 5px 0px; " class="button-bar">
				<a class="button" ng-click="takePicture()"><!-- Take Picture -->拍照</a>
				<a class="button" ng-click="uploadPhoto()"><!-- Bring From Assets -->相册</a>
			</div>
			<!--
			스크롤 기능을 활용하여 여러 사진을 업로드 할 수 있도록 하였습니다.
			사진을 수직으로 나열 할 경우 글 사이에 배치하기 어려운 점과 한꺼번에
			배치시킬 경우 스크롤 압박 문제가 있을 것 같아서 수평으로 나열할 수 있도록 하였습니다.
			-->
			<div style="border:1px solid #b2b2b2" class="item item-image">
				<ion-scroll direction="x" paging="true">
					<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
					<ion-scroll direction="x" class="wide-as-needed">
						<div ng-repeat="reviewImg in reviewImgs" style="display:inline-block; margin-right:10px; "><img
								src="{{reviewImg}}"/></div>
					</ion-scroll>
				</ion-scroll>
			</div>
			<div style="padding:10px; border:1px solid #b2b2b2" class="item item-body">
				<textarea id="bodyInput" ng-model="review.body" ng-keyup="autoExpand($event)"
				          style="padding:10px; resize:none" placeholder="请输入内容。"></textarea>
			</div>
			<!-- 
			취소 버튼의 경우 뒤로 가는 cancle 함수를 적용시켰고
			업로드 버튼의 경우 서버로 리뷰 작성글을 전송해주는 upload 함수를 적용시켰습니다.
			-->
			<div style="margin:5px 0px 5px 0px" class="button-bar">
				<a class="button" ng-click="cancle()"><!-- 취소 -->取消</a>
				<a class="button" ng-click="upload(review)"><!-- 올리기 -->上传</a>
			</div>
		</div>
	</ion-content>
</ion-view>