<ion-view view-title="후기">
	<!--ion-content>
		<img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    	<img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
   		<button class="button" ng-click="takePicture()">Take Picture</button>
   		<button class="button" ng-click="uploadPhoto()">Bring From Assets</button>
	</ion-content-->
	<ion-content>
	<!--
		list card 클래스를 활용하여 만들어 보았습니다. 상단에는 기존에 구현되어 있는
		두 버튼을 과 button-bar 클래스를 활용하여 만들어 보았습니다. 그 다음 이미지가 나오고
		밑으로 글을 적을 수 있도록 구조를 만들어 보았습니다.
	-->
		<div class="list card">
			<div style="border:1px solid #b2b2b2"class="item item-divider">
				제목
			</div>
			<div style="margin:5px 0px 5px 0px"class="button-bar" >
				<a class="button" ng-click="takePicture()">Take Picture</a>
				<a class="button" ng-click="uploadPhoto()">Bring From Assets</a>
			</div>
			<!--
			스크롤 기능을 활용하여 여러 사진을 업로드 할 수 있도록 하였습니다.
			사진을 수직으로 나열 할 경우 글 사이에 배치하기 어려운 점과 한꺼번에
			배치시킬 경우 스크롤 압박 문제가 있을 것 같아서 수평으로 나열할 수 있도록 하였습니다.
			-->
			<div style="height:300px; border:1px solid #b2b2b2"class="item item-image">
				<ion-scroll direction="x" paging="true">
				<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">  </ion-refresher>
					<img src="http://placehold.it/300x300" style="margin-right:10px border:1px solid gray">
					<img src="http://placehold.it/300x300" style="margin-right:10px border:1px solid gray">
					<img src="http://placehold.it/300x300" style="margin-right:10px border:1px solid gray">					
				</ion-scroll>
			</div>
			<div style="padding-top:5px; border:1px solid #b2b2b2"class="item item-body">
				<p style="margin-top:5px">
				<!--img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="float:left; margin: 0px 10px 10px 0px; border: 1px solid gray ">
				<img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300" style="float:left; margin: 0px 10px 10px 0px; border: 1px solid gray"-->
				
				  (내용)This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
				  the content is from a card-body consisting of an image and paragraph text. The footer
				  consists of tabs, icons aligned left, within the card-footer.
				  				
				</p>		
			</div>
		</div>
	</ion-content>
</ion-view>