<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.meirong-mifang" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>美容秘方</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="jangtang@naver.com" href="http://ionicframework.com/">
      Fine Application Jang
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="Camera">
    <param name="ios-package" value="CDVCamera" />
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
  </feature>
  <feature name="File">
    <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    <param name="onload" value="true" />
  </feature>
  <feature name="FileTransfer">
    <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
  </feature>
<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="3000" />
<preference name="orientation" value="portrait" />
<icon src="www/img/icon.png" />

<platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="www/img/splash/splash.png" density="land-hdpi"/>
    <splash src="www/img/splash/splash.png" density="land-ldpi"/>
    <splash src="www/img/splash/splash.png" density="land-mdpi"/>
    <splash src="www/img/splash/splash.png" density="land-xhdpi"/>
    <splash src="www/img/splash/splash.png" density="port-hdpi"/>
    <splash src="www/img/splash/splash.png" density="port-ldpi"/>
    <splash src="www/img/splash/splash.png" density="port-mdpi"/>
    <splash src="www/img/splash/splash.png" density="port-xhdpi"/>

    <icon src="www/img/icon.png" density="land-hdpi"/>
    <icon src="www/img/icon.png" density="land-ldpi"/>
    <icon src="www/img/icon.png" density="land-mdpi"/>
    <icon src="www/img/icon.png" density="land-xhdpi"/>
    <icon src="www/img/icon.png" density="port-hdpi"/>
    <icon src="www/img/icon.png" density="port-ldpi"/>
    <icon src="www/img/icon.png" density="port-mdpi"/>
    <icon src="www/img/icon.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
    <!-- you can use any density that exists in the Android project -->
    <splash src="www/img/splash/splash.png" width="320" height="480"/>

    <splash src="www/img/splash/splash.png" width="640" height="1136"/>
    <splash src="www/img/splash/splash.png" width="750" height="1334"/>
    <splash src="www/img/splash/splash.png" width="2048" height="1536"/>
    <splash src="www/img/splash/splash.png" width="1024" height="768"/>
    <splash src="www/img/splash/splash.png" width="1536" height="2048"/>
    <splash src="www/img/splash/splash.png" width="768" height="1024"/>
    <splash src="www/img/splash/splash.png" width="640" height="960"/>
    <splash src="www/img/splash/splash.png" width="320" height="480"/>

    <icon src="www/img/icon.png" density="land-hdpi"/>
    <icon src="www/img/icon.png" density="land-ldpi"/>
    <icon src="www/img/icon.png" density="land-mdpi"/>
    <icon src="www/img/icon.png" density="land-xhdpi"/>
    <icon src="www/img/icon.png" density="port-hdpi"/>
    <icon src="www/img/icon.png" density="port-ldpi"/>
    <icon src="www/img/icon.png" density="port-mdpi"/>
    <icon src="www/img/icon.png" density="port-xhdpi"/>
</platform>
</widget>